.root{
    -fx-font-family: Garamond;
    -fx-font-size: 25;
    -fx-background-color: rgb(19, 29, 32);
    -fx-alignment: center;
}
.button{
    -fx-background-color: rgba(191, 191, 191, 0.6);
    -fx-background-radius: 25px 25px 25px 25px;
    -fx-border-radius: 25px 25px 25px 25px;
    -fx-border-color: rgb(13, 13, 13);
    -fx-font-size: 25;
    -fx-pref-width: 300;
    -fx-max-width: 400;
}
.button:hover{
    -fx-background-color: rgba(65, 74, 77,0.6);
    -fx-background-radius: 25px 25px 25px 25px;
    -fx-border-radius: 25px 25px 25px 25px;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-effect: dropshadow(one-pass-box,gray,20,0.0,15,-2);
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 30;
    -fx-padding: 10 20 10 20;
}
.button-edit{
    -fx-border-radius: 25px 25px 25px 25px;
    -fx-background-radius: 25px 25px 25px 25px;;
    -fx-pref-height: 32;
    -fx-pref-width: 128;
    -fx-font-weight: bold;
}
.button-edit:hover{
    -fx-background-color: rgba(65, 74, 77,0.6);
    -fx-background-radius: 25px 25px 25px 25px;
    -fx-border-radius: 25px 25px 25px 25px;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-effect: dropshadow(one-pass-box,gray,20,0.0,15,-2);
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 30;
    -fx-padding: 10 20 10 20;
}
.pop-up-menu{
    -fx-pref-width: 300;
    -fx-pref-height: 500;
    -fx-spacing: 5;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-padding: 20,20,20,20;
}
.vbox{
    -fx-alignment: center;
    -fx-padding: 20,20,20,20;
    -fx-spacing: 15;
    -fx-text-fill: white;
}
.vbox .label{
    -fx-padding: 0 0 -20px 0 ;
}
.label{
    -fx-text-fill: white;
}
.back-button{
    -fx-padding: -20 0 0 0 ;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20;
}
.back-button:hover{
    -fx-border-insets: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: none;
    -fx-font-size: 20;
}
.text-field{
    -fx-max-width: 500;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}
.log-in{
    -fx-spacing: 30;
}